/* Register.module.css */

.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f8f9fa;
}

.registerForm {
    margin-top: 20px;
    background: var(--color-white);
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 80%;
    max-width: 600px;
}

.heading {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
}

.inputGroup {
    margin-bottom: 1.2rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
    font-size: 0.9rem;
}

.input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.2);
}

.registerButton {
    width: 100%;
    padding: 0.8rem;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registerButton:hover {
    background: #0056b3;
}
.inputGroupheading{
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.icons{
    color: var(--color-white);
    font-size: 30px;
    background: var(--gradient-1);
    border-radius: 5px;
    margin-right: 10px;
}

.inputGroup > p{
    text-align: center;
}
.inputGroup > p > a{
    text-align: center;
    font-size: small;
    color: var(--color-primary-accent);
}

.role{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 100%;
}
.role > label{
    display: flex;
    align-items: center;
    gap: 10px;
}