/* Login.module.css */

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.loginForm {
    background: var(--bg-secondary);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.heading {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--color-muted);
    font-size: 1.5rem;
}

.inputGroup {
    margin-bottom: 1rem;

}

.inputGroupheading{
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.icons{
    color: var(--color-white);
    font-size: 30px;
    background: var(--gradient-1);
    border-radius: 5px;
    margin-right: 10px;
}
.inputGroup > p{
    text-align: center;
}
.inputGroup > p > a{
    text-align: center;
    font-size: small;
    color: var(--color-primary-accent);
}
.label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--gray-border);
    font-size: 0.9rem;
}

.input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
}

.loginButton {
    width: 100%;
    padding: 0.8rem;
    background: #007bff;
    color: var(--bg-secondary);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loginButton:hover {
    background: var(--gradient-1);
}
.role{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 100%;
}
.role > label{
    display: flex;
    align-items: center;
    gap: 10px;
}